<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Basic Agency</title>
</head>
<body>
    <div class="wrap-light">
        <header>
            <nav>
                <a id="myLogo" href="/"><img src="assets/img/logo.svg" alt="logo"></a>
                <ul>
                    <li><a href="work">WORK</a></li>
                    <li> <a href="about">ABOUT</a></li>
                    <li><a href="news">NEWS</a></li>
                    <li><a href="thinking">THINKING</a></li>
                    <li><a href="contact">CONTACT</a></li>
                </ul>
                <a href="internal-project"><img id="my-menu-icon" src="assets/img/menu.svg" alt="menu"></a>
            </nav>
        </header>
    </div>
    
